$blue :#00334a;
$regYellow : rgb(251, 190, 21);
$hoverYellow : rgb(255, 198, 42);
$textShaddowBlack : #0c0c0c;
$boxShaddowBlue : #001d2a;
$softWhite: #d8e2eb;
// pick a good yellow for hover effects

$break-phone: 320px;
$break-tablet: 800px;

