$blue : #00334a;
$regYellow : #ffa600;
$hoverYellow : #ffa52f;
$textShaddowBlack : #0c0c0c;
$boxShaddowBlue : #001d2a;
$softWhite: rgba(255, 255, 255, 0.972);
// pick a good yellow for hover effects

$break-phone: 320px;
$break-tablet: 800px;