* {
    box-sizing: border-box;
    color: white;
}
 .contactInfo {
     background-color: #00334a;
     max-width: 420px;
     margin: 5% auto;
     padding: 20px;
     border-radius: 10px;
     box-shadow: 6px 6px 10px 6px rgb(14, 14, 14);
}
 p {
     text-align: center;
     font-size: 24px;
     color:white;
}
 input[type=text],input[type=email], textarea {
     width: 100%;
     padding: 10px;
     border: 1px solid rgb(8, 8, 8);
     border-radius: 4px;
     margin-top: 6px;
     margin-bottom: 16px;
     color: #00334a;
}

