@import '../.././scssVars/Vars.scss';



.navContainer {
    /* border: 1px red solid; */
    display: flex;
    // flex-direction: row;
    justify-content: space-between;
    align-items:center;
    height: 50px;
    width:100%;
    background-color:$blue;
    position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;


    .navbtn {
        /* border: 1px solid green; */
        display:flex;
        
    }
}

