@import '../.././scssVars/Vars.scss';


.button {
   border: none; 
   background-color: transparent;
font-size:18px;
padding: 8px;
margin: 0 20px;
color:$regYellow;

.button:hover {
  transition: all .2s ease-in-out; 
  color: $hoverYellow;
  cursor: pointer;
}
}



