.thumbContainer {
  position: relative;
  margin: 2% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectThumbImg {
  width: 30rem;
  height: 18rem;
  overflow: hidden;
  box-shadow: 6px 6px 12px 6px rgb(14, 14, 14);
 border-radius: 2px ;
}

.hoverTop {
  background-color: rgba(255, 255, 255, 0.164);
 height: 100%;
  width: 100%;
  pointer-events: none;
  position: absolute;
}

.hoverTop p {
  color: black;
}
