@import "scssVars/Vars.scss";

.bodyContainer {
  height: 100%;
  width: 100%;
  // border: 4px green solid;
}

body {
  background-size: cover;
  background-image: url("./images/waves.jpg");
  background-attachment: fixed;
  margin-top: 80px;
  background-repeat: no-repeat;
  -moz-user-select: none;
  -khtml-user-select: none;
}





