.aboutMeContainer {
    /* border: 2px green solid; */
    display: flex;
    height:100%;
    width: 100%;
    flex-direction: column;
    background-color: #ffbb00ec;
}

.aboutMeInfo {
    background-color: rgb(236, 236, 236);
    height: 92vh;
    width: 40%;
}

.aboutMeContainer h1 {
    color: #0c0c0c;
  /* border: 2px solid red; */
  margin: 4% 8% .5%;
  font-size: 3rem;
  text-align:left;
}

.aboutMeContainer h3 {
    color: #464646de;
    font-weight: 500;
  /* border: 2px solid red; */
  margin:2% 8% 4%;
  font-size: 1.8rem;
  text-align:left;
}

.paragraphContainer p {
    color: #0c0c0c;
  /* border: 2px solid red; */
 margin: 0 8% 1%;
 max-width:550px;
text-align:left;
text-indent:20px;
}