 @import "../.././scssVars/Vars.scss";

.imgContainer {
   height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    // border: 1px solid red;
}

.innerImgContainer {
   max-width:80%;
    max-height: 90%;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    // border: 2px solid green;
}
.images {
    height: 250px;
    width: 200px;
    display: flex;
    justify-content: center;
    // object-fit: inherit;
    overflow: hidden;
    border: 1px solid black;
    margin: 0 2% 4%;
    border-radius: 4px;
    filter: grayscale(1);
}



